[submodule "3rdparty/link"]
	path = 3rdparty/link
	url = https://github.com/Ableton/link.git
[submodule "3rdparty/cpp-optparse"]
	path = 3rdparty/cpp-optparse
	url = https://github.com/weisslj/cpp-optparse
[submodule "3rdparty/oscpack"]
	path = 3rdparty/oscpack
	url = https://github.com/Cycling74/oscpack.git
